table, tr , td,th {
	border:1px solid green;
}
table{
	width: 400px;
	border-collapse: collapse;
}
thead, tfoot{
	background-color: #ada;
}
td:nth-child(2){
	text-align:center;
}
tbody tr:nth-child(odd){
	background-color: #add;
}
tbody td:nth-child(even){
	font-weight: bold;
}