p.demo1{
	font-family: myNew;
	text-decoration: underline; /* gạch dưới dòng*/
	text-shadow: 4px 4px; /*  độ bóng chữ*/
}
@font-face{
	font-family: myNew;
	src: url('fonts/Vonique 64 Italic.ttf');
}
p.demo2{
	font-family: Arial;
	text-indent: 20px; /* thuộc đầu dòng */
	text-transform: lowercase;
}
p{
	font-style: italic; /* chữ nghiêng */
 	font-size: 40px; /*độ rộng của bài viết */
}